body{
			background-color:yellowgreen;
			font-family: 'Open Sans', sans-serif;	
		}
		main{
			width:1200px;
			margin:auto;
			background-color:white;
			margin-top:0;
			padding-left:20px;
			padding-right:20px;
			padding-bottom:20px;  	 
		}
		h1{
			text-align:center;
			font-size:45px;
			margin-top:0;	
		}
		p{
			width:1000px;
			font-size:30px;
			margin:auto;	
		}
		img{
			width: 1000px;
			margin-top:15px;
		}
		a{
			font-size:30px;
			margin-top:10px;
			}
		div{
			margin:auto;
			width:85%;
			margin-top:10px; 	 
		}
		.tower{
			margin-left:100px; 
		}